<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <style>
        body{
            font-family: sans-serif;
            font-size: large;
            background-image: url(/static/public/terms_pic.jpg);
        }
    </style>
</head>
<body>
    <h1 style="font-family: sans-serif;">Terms and Conditions</h1>
    <br>
    <ul>
        <li>The contract will be of <strong>one year</strong>.</li><br>
        <li>The partner will have to pay <strong>50%</strong> for <strong>seeds, fertilizers and medicines</strong>.</li><br>
        <li>The partner will have to pay <strong>100%</strong> for all the expenses of <strong>equipment and machinery</strong>.</li><br>
        <li>The partner will get <strong>50%</strong> share of cash from the <strong>sales of the crops</strong> subtracting the price of <strong>100% machinery</strong> , and <strong>50% seeds, fertilizers and machinery</strong>.</li><br>

    </ul>
    
</body>
</html>